		<section class="contact-us" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-7 offset-md-1 col-sm-8 col-12">
						<h5 class="mb-3">ارتباط با ما</h5>
						<p>اگر سوال و یا نظری دارید میتوانید با ایمیل support[at]web-shot.ir در ارتباط باشید.</p>
						<p>به فاصله ی یک روز کاری پاسختان را خوایم داد</p>
					</div>
					<div class="col-md-3 col-sm-4 col-12">
						راه های ارتباطی
						<ul>
							<li>
								<strong>ایمیل:</strong> <span class="pull-left ltr"><a href="mailto:support@web-shot.ir">support[at]web-shot.ir</a></span>
							</li>
							<li>
								<strong>تلفن:</strong> <span class="pull-left  ltr">031-34420301</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer class="shadow-sm">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-12">
					<a href="/">
						<img src="/assets/logo.png" alt="وب شات" class="img-fluid">
					</a>
				</div>
				<div class="col-md-9 col-sm-8 col-12">
					<ul>
						<li>
							<a class="nav-link text-body" href="/docs" target="_blank">مستندات</a>
						</li>
						<li>
							<a class="nav-link text-body" href="/gallery" target="_blank">گالری</a>
						</li>
						<li>
							<a class="nav-link text-body" href="#contact"">تماس باما</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-12 copyright">
					<p class="text-muted"> <i class="fa fa-copyright"></i> کلیه حقوق مادی و معنوی این سایت محفوظ می باشد</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="assets/main.js"></script>
</body>
</html>