openapi: 3.0.0
info:
  title: Web-Shot API
  description: Capture screenshots of webpages programmatically.
  version: 1.0.0
servers:
  - url: https://web-shot.ir/

paths:
  /capture:
    get:
      summary: Capture a screenshot of a webpage.
      description: Takes a URL and optional parameters to capture a screenshot of a webpage.
      parameters:
        - in: query
          name: url
          description: The URL of the webpage to capture.
          required: true
          schema:
            type: string
        - in: query
          name: width
          description: The desired width of the final screenshot in pixels.
          schema:
            type: integer
            default: 1200
            minimum: 100
        - in: query
          name: height
          description: The desired height of the final screenshot in pixels.
          schema:
            type: integer
            default: 600
            minimum: 100
        - in: query
          name: maxAge
          description: Max age in seconds of image if it already cached.
          schema:
            type: integer
            default: 86400
            minimum: 10
        - in: query
          name: format
          description: "Image format"
          schema:
            type: string
            default: jpeg
            enum:
              - jpeg
              - png
        - in: query
          name: fullpage
          description: Whether to take a screenshot of the full webpage or not.
          schema:
            type: boolean
            default: false
        - in: query
          name: viewportWidth
          description: The page width in pixel.
          schema:
            type: integer
            default: 1200
            minimum: 320
            maximum: 4096
        - in: query
          name: viewportHeight
          description: The page height in pixel.
          schema:
            type: integer
            default: 600
            minimum: 320
            maximum: 4096
        - in: query
          name: timeout
          description: The max time in ms to wait for the page to load.
          schema:
            type: integer
            default: 10000
            minimum: 2000
            maximum: 15000
      responses:
        '200':
          description: Successful capture.
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
  /api/gallery:
    get:
      summary: Retrieve a list of recently captured screenshots.
      description: Returns an array of recently captured screenshots with their IDs and URLs.
      parameters:
        - in: query
          name: count
          description: The number of screenshots to retrieve (maximum 500, minimum 1).
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        '200':
          description: Successful retrieval.
          content:
            application/json:
              schema:
                type: array
                description: Sorted by capture time in descending order (newest first).
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Unique identifier of the screenshot.
                    url:
                      type: string
                      description: URL of the captured screenshot.

  /api/gallery/{shot}:
    get:
      summary: Retrieve a specific captured screenshot.
      description: Returns the image of a specific captured screenshot identified by its ID.
      parameters:
        - in: path
          name: shot
          description: The unique identifier of the screenshot to retrieve.
          required: true
          schema:
            type: integer
        - in: query
          name: width
          description: (Optional) Desired width of the screenshot in pixels.
          schema:
            type: integer
        - in: query
          name: height
          description: (Optional) Desired height of the screenshot in pixels.
          schema:
            type: integer
      responses:
        '200':
          description: Successful retrieval.
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
