<?- include("../header") ?>
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1 col-12">
			<h1 class="page-title mb-3">مستندات رابط برنامه نویسی</h1>
			<h5 class="mb-5 mt-5">مثال آدرس اینترنتی</h5>
			<p>گزینه های اصلاح تصویر میتوانند به همراه آدرس وب سایت در آدرسی اینترنتی ارسال شوند. در زیر لیستی کامل از گزینه ها را مشاهده کنید.</p>
			<input type="text" class="form-control ltr mb-3" value="<?= hostname ?>/capture?url=https://www.google.com/&width=800&crop=600" spellcheck="false" name="url">
			<a href="#" class="btn btn-primary mb-5 btn-shoot-shot" target="_blank">مشاهده تصویر وب سایت</a>
			<h4 id="options" class="mb-4 mt-3">لیست کامل گزینه های اصلاح کننده تصویر</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">گزینه</th>
						<th scope="col">نوع</th>
						<th scope="col">اجباری</th>
						<th scope="col">توضیحات</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center align-middle">url</td>
						<td>رشته</td>
						<td class="text-center align-middle"><i class="fa fa-check-square text-success"></i></td>
						<td>آدرس اینترنتی وب سایت مقصد</td>
					</tr>
					<tr>
						<td class="text-center align-middle">width</td>
						<td>عدد در واحد پیکسل</td>
						<td class="text-center align-middle"><i class="fa fa-times text-danger"></i></td>
						<td>عرض تصویر <br> (پیشفرض: 600px)</td>
					</tr>
					<tr>
						<td class="text-center align-middle">crop</td>
						<td>عدد در واحد پیکسل</td>
						<td class="text-center align-middle"><i class="fa fa-times text-danger"></i></td>
						<td>ارتفاع تصویر <br> (پیشفرض: 1200px)</td>
					</tr>
					<tr>
						<td class="text-center align-middle">maxAge</td>
						<td>عدد در واحد ثانیه</td>
						<td class="text-center align-middle"><i class="fa fa-times text-danger"></i></td>
						<td>مقدار زمان مشخص برای بروزرسانی تصویر ذخیره شده</td>
					</tr>
					<tr>
						<td class="text-center align-middle">format</td>
						<td>jpg | png</td>
						<td class="text-center align-middle"><i class="fa fa-times text-danger"></i></td>
						<td>نوع تصویر</td>
					</tr>
					<tr>
						<td class="text-center align-middle">fullPage</td>
						<td>true | false</td>
						<td class="text-center align-middle"><i class="fa fa-times text-danger"></i></td>
						<td>تصویر شامل کل صفحه ی وب سایت باشد یا خیر</td>
					</tr>
					<tr>
						<td class="text-center align-middle">wait</td>
						<td>عدد در واحد ثانیه <br> کمترین مقدار: 1ثانیه <br> بیشترین مقدار: 30ثانیه</td>
						<td class="text-center align-middle"><i class="fa fa-times text-danger"></i></td>
						<td>مدت زمان انتظار بعد از بارگزاری صفحه و تهیه تصویر بعد از این زمان <br> (پیشفرض: 0ثانیه)</td>
					</tr>
					<tr>
						<td class="text-center align-middle">viewportWidth</td>
						<td>عدد در واحد پیکسل</td>
						<td class="text-center align-middle"><i class="fa fa-times text-danger"></i></td>
						<td>تصویر صفحه وب سایت در عرض مشخص شده ذخیره خواهد شد</td>
					</tr>
					<tr>
						<td class="text-center align-middle">viewportHeight</td>
						<td>عدد در واحد پیکسل</td>
						<td class="text-center align-middle"><i class="fa fa-times text-danger"></i></td>
						<td>تصویر صفحه وب سایت در ارتفاع مشخص شده ذخیره خواهد شد</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<?- include("../footer") ?>