<?- include("../header") ?>
<section class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
				<h1 class="mb-3 text-center mt-">ابزاری برای تصویر صفحات وب</h1>
				<h6 class="text-center text-secondary">سریع، رایگان و بروز</h6>
				<div class="input-group mb-5">
					<input type="text" class="form-control ltr" value="https://www.w3.org/" spellcheck="false" name="url">
					<div class="input-group-append">
						<button class="btn btn-primary btn-shoot-shot" type="button">مشاهده صفحه</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-12">
				<div class="shots row mb-5">
				<? for (const image of images) { ?>
					<div class="col-md-3 col-sm-3 col-6 shot">
						<img class="img-fluid" src="<?= image ?>" alt="Preview of snapshot">
					</div>
				<? } ?>
				</div>
				<div class="d-block text-center"><a href="/docs" class="btn btn-primary">شروع !</a></div>
			</div>
		</div>
	</div>
</section>
<section class="docs">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-12 mb-5">
				<h5>تهیه تصاویر به صورت مستقیم انجام میشود</h5>
				<p>وب شات نمایش تصاویر زمان واقعی از وب سایت ها است. ما تنها تولید کننده ی عکس فوری وب سایت هستیم تا به محض اینکه شما آنها را درخواست می کنید تصاویر را در اختیارتان بگذاریم. با استفاده از رابط برنامه نویسی رایگان ما آن را امتحان کنید.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1 col-12 mb-5">
				<h5>!همین حالا امتحان کنید</h5>
				<p class="mb-3">به سادگی از کد زیر در وب سایت خود استفاده کنید:</p>
				<pre>&lt;img src="<?= hostname ?>/capture?url=https://www.google.com/"&gt;</pre>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1 col-12 mb-5">
				<h5>گزینه های پیشرفته</h5>
				<p class="mb-3">گزینه های پیشرفته تر نیز وجود دارد، شما می توانید با تعیین عرض مشخصه تصویر را تغییر دهید و شما می توانید تعداد پیکسل های وب سایت اصلی که می خواهید برش دهید تعیین کنید. مثلا:</p>
				<pre class="mb-3">&lt;img src="<?= hostname ?>/capture?url=https://www.google.com/&width=100&crop=600"&gt;</pre>
				<p>گرفتن عکسهای صفحه وب از یک مرورگر پیکسل 1200x1200 گرفته شده است. کد بالا، صفحه نمایش اصلی را به 100 پیکسل عرض می برد و سپس 600 پیکسل از تصویر را می برد.</p>
				<p><a href="/docs#options" target="_blank">مشاهده لیست کلی گزینه ها</a></p>
			</div>
		</div>
	</div>
</section>
<?- include("../footer") ?>