<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>انباری</title>
	<link href="assets/main.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="left">
			<button type="button" class="btn btn-user"><img src="assets/img/logo.png" alt="انباری"> ورود / عضویت</button>
			<button type="button" class="btn"><i class="fa fa-bell"></i></button>
			<button type="button" class="btn"><i class="fa fa-search"></i></button>
		</div>
	</header>
	<div class="sidebar">
		<a href="/" class="logo"><img src="assets/img/logo.png" alt="انباری"></a>
		<h1>انباری</h1>
		<p class="text-justify">مناسب ترین سرویس ابری برای نگهداری امن فایل ها و اطلاعات حساس</p>
		<footer>
			<div class="btns">
				<a href="/upgrade"><i class="fa fa-arrow-circle-up"></i></a>
				<a href="/renew"><i class="fa fa-refresh"></i></a>
				<a href="/trash"><i class="fa fa-trash"></i></a>
				<a href="/ftp"><i class="fa fa-globe"></i></a>
				<a href="/ftp"><i class="fa fa-users"></i></a>
				<a href="/settings"><i class="fa fa-cogs"></i></a>
			</div>
			<div class="usage-stats">
				<p><span class="float-right">فضای استفاده شده:</span> <span class="usage-value"><span class="badge badge-pill badge-warning"></span> 155MB / <span class="badge badge-pill badge-light"></span> 15GB</span></p>
				<div class="progress" style="height: 10x;">
					<div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</footer>
	</div>
	<div class="file-list half">
		<header class="no-bottom-border">
			<div class="path half-hidden">
				<a href="/"><i class="fa fa-cloud"></i></a>
				<a href="/fa/">fa</a>
			</div>
			<div class="buttons">
				<button type="button" class="btn btn-list half-hidden"><i class="fa fa-list"></i></button>
				<button type="button" class="btn btn-grid half-hidden ml-4"><i class="fa fa-th-large"></i></button>
				<button type="button" class="btn btn-new-folder"><i class="fa fa-plus"></i> پوشه جدید</button>
				<button type="button" class="btn btn-upload-file"><i class="fa fa-upload"></i> آپلود فایل</button>
				<button type="button" class="btn btn-upload-folder"><i class="fa fa-cloud-upload"></i> آپلود پوشه</button>
				
			</div>
		</header>
		<table class="table-files">
			<thead>
				<tr>
					<th width="50%">نام</th>
					<th>وزن</th>
					<th>نوع</th>
					<th class="half-hidden">آخرین تغییر</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span class="icon icon-folder icon-24"></span> assets</td>
					<td></td>
					<td>پوشه</td>
					<td class="ltr half-hidden">1397/06/02 17:00</td>
					<td>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
				  </td>
				</tr>
				<tr>
					<td><span class="icon icon-code icon-24"></span> صفحه اصلی.html</td>
					<td class="ltr">15 KB</td>
					<td>کد HTML</td>
					<td class="ltr half-hidden">1397/06/02 17:24</td>
					<td>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
				  </td>
				</tr>
				<tr>
					<td><span class="icon icon-code icon-24"></span> تماس-با-ما.html</td>
					<td class="ltr">15 KB</td>
					<td>کد HTML</td>
					<td class="ltr half-hidden">1397/06/02 17:24</td>
					<td>
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</div>
				  </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="content-preview">
		<header>
			<div class="path half-hidden">
				<a href="/"><i class="fa fa-cloud"></i></a>
				<a href="/fa/">fa</a>
				<a href="/fa/صفحه اصلی.html">صفحه اصلی.html</a>
			</div>
		</header>
		<div class="preview">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
					</div>
					</li>
					<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
					</li>
					</ul>
				</div>
			</nav>
			<div class="header">

				<h2>گنیجه ایمن اطلاعات شما</h2>
			</div>
		</div>
	</div>
	<script src="assets/main.js"></script>
</body>
</html>