body{
	margin-top: 38px;
}
body > header {
	position: fixed;
	top: 0;
	right: 0;
	height: 38px;
	width: 100%;
	z-index: 0;
	border-bottom: 1px solid #fff;
	.left {
		width: 25%;
		position: absolute;
		left: 0;
		color: rgb(51,51,51);
		> .btn{
			background: transparent;
			border-right: 1px solid #ededed;
			border-radius: 0;
			float: left;
			&:last-child {
				border-right: 0;
			}
		}
		.btn-user {
			font-size: 12px;
			img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				padding: 2px;
				background: #fff;
			}
		}
	}
}