body{
	margin-top: 56px;
}
body > header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	display: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 1;
	box-shadow: 0 0 1px rgba(0,0,0,.4);
	nav {
		background: #fff;
	}
}