@import "bootstrap-rtl";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "fonts";
body {
	background: #fafafa;
	direction: rtl;
	text-align: right;
	font-family: IRANSans;
	font-size: 13px;
}
.ltr {
	direction: ltr;
	text-align: left;
}
@import "header";
@import "homePage";
@import "docs";
@import "footer";
