@use 'vuetify' with (
	$body-font-family: "Vazirmatn",
	$line-height-root: 2,
);

@font-face {
	font-family: 'Audiowide';
	src: url("./../assets/fonts/audiowide/Audiowide-Regular.ttf") format('truetype')
}

@import "vazirmatn/Vazirmatn-font-face.css";

* {
	letter-spacing: 0;
}